*:not(#one, #two, #three) {
  border: 2px solid black;
}
div {
  text-align: center;
  padding: 15px;
  background-color: snow;
  border: 2px solid black;
}
body {
  margin: 20px;
  padding: 10px;
  background-color: indianred;
}
html {
  background-color: lightslategrey;
}
#first {
  background-color: chartreuse;
  width: 150px;
  height: 150px;
}
#second {
  background-color: darkgreen;
  width: 100px;
  height: 100px;
}
#third {
  background-color: darkorange;
  width: 50px;
  height: 50px;
}
#one {
  border-style: inset;
}
#two,
#three {
  padding: 20px;
  background-color: teal;
  margin: 30px;
}
