.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px var(--horizontal-space);
}
.screen-header__title {
  font-size: 20px;
  font-weight: 600;
}

.screen-header__icon span {
  margin-left: 20px;
  position: relative;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(180deg);
  }
}

.screen-header__icon .bi-gear {
  animation: rotateGear 3s ease-in-out infinite;
}
