body {
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 50px;
}
input[placeholder~="name"] {
  background-color: pink;
}
input {
  border: 1px solid wheat;
}
input:required {
  border-color: lightseagreen;
}
