body {
  height: 100vh;
  margin: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: linen;
  width: 200px;
  height: 200px;
  background-color: coral;
}
#second {
  background-color: burlywood;
  order: 1;
  align-self: flex-start;
}
