body {
  margin: 20px;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
div {
  width: 100px;
  height: 100px;
  background-color: coral;
}
#second {
  background-color: burlywood;
}
