h1 {
  color: brown;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
div {
  width: 60px;
  height: 150px;
  margin-left: 50px;
  background-color: snow;
}
body {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: indianred;
}
html {
  background-color: lightslategrey;
}
