/*Chats에만 있는 screen-header icon*/
.screen-header__a {
  position: relative;
  bottom: 1px;
  margin-left: 20px;
}
.screen-header__a--plus {
  width: 13px;
  height: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: -8px;
  bottom: 4px;
  background-color: white;
  position: absolute;
  display: flex;
}

.user-component__text {
  justify-content: space-between;
}

.chats__notification {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: tomato;
  font-size: 10px;
  font-weight: 400;
}
