#chat-screen {
  background-color: #abc1d2;
  height: 1000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d2;
}

#chat-screen .alt-header {
  top: 24px;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

.main-chat {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: #d9dfe4;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 11px;
  padding: 8px;
  border-radius: 35px;
}

.message-row {
  display: flex;
  align-items: flex-start;
  padding: 17px 0px;
}

.chat__avatar {
  width: 37px;
  height: 37px;
  border-radius: 14px;
  object-fit: cover;
}
