.find-icons {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #fafafa;
  padding-bottom: 35px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 25px;
}

.find-icons__icon span:not(.add-by, .contact) {
  margin-top: 30px;
}

.add-by {
  margin-top: 24px;
}

.id__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2f363e;
  background-color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
}
