#friends-display-link {
  text-align: center;
  display: block;
  margin-top: 75px;
  background-color: #fafafa;
  padding: 12px 0px;
  font-size: 13px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 3px solid #fafafa;
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  color: #9b9b9b;
  font-size: 12px;
}
