.settings-setting {
  padding: 17px 0px;
  border-bottom: 2px solid #fbfbfb;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  margin-right: 13px;
  font-size: 19px;
}

.settings-setting__column:last-child {
  color: var(--subtitle-color);
}
